@*Defining Model*@
@model List<Member>

@*Defining ViewData*@
@{
    ViewData["Title"] = "List of Members";
}

@*Coding*@
<h2>Members</h2>

<div class = "row">
    <div class="col-md-8 offset-md-2">

        <table class="table" style="width:100%">
            <thead>
                <tr>
                    <th>Member Number</th>
                    <th>Membership Category Number</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Address</th>
                    <th>Date of Birth</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">@item.MemberNumber</td>
                        <td class="align-middle">@item.MembershipCategoryNumber</td>
                        <td class="align-middle">@item.MemberFirstName</td>
                        <td class="align-middle">@item.MemberLastName</td>
                        <td class="align-middle">@item.MemberAddress</td>
                        <td class="align-middle">@item.MemberDateOfBirth</td>
                        <td class="align-middle">
                            <a class="btn btn-outline-primary" style="margin:5px;" asp-action="Edit" asp-route-id="@item.MemberNumber"><i class="bi bi-pencil-square"></i>Edit</a>
                            <a class="btn btn-outline-info" style="margin:5px;" asp-action="Details" asp-route-id="@item.MemberNumber"><i class="bi bi-eye"></i>Details</a>
                            <a class="btn btn-danger" style="margin:5px;"  asp-action="Delete" asp-route-id="@item.MemberNumber"><i class="bi bi-trash" asp-action="Delete" asp-route-id="@item.MemberNumber"></i>Delete</a> 
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div style="position:fixed; right:25px; bottom:25px;" class="text-white">
    <a asp-controller="Members" asp-action="Create" class="btn btn-success"><i class="bi bi-plus-circle"></i> Add New</a>
</div>