@{
	var section = ViewData["Section"];
}  

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewData["Title"] - Ropey</title>

	<!-- Required CSS Files  -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="~/admin_assets/vendors/mdi/css/materialdesignicons.min.css">
	<link rel="stylesheet" href="~/admin_assets/vendors/css/vendor.bundle.base.css">
	<link rel="stylesheet" href="~/admin_assets/vendors/jvectormap/jquery-jvectormap.css">
	<link rel="stylesheet" href="~/admin_assets/vendors/flag-icon-css/css/flag-icon.min.css">
	<link rel="stylesheet" href="~/admin_assets/vendors/owl-carousel-2/owl.carousel.min.css">
	<link rel="stylesheet" href="~/admin_assets/vendors/owl-carousel-2/owl.theme.default.min.css">
	<link rel="stylesheet" href="~/admin_assets/css/style.css">
	
	<!-- Custom CSS Files  -->
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    
    @RenderSection("AddCustomStyles", required: false)

</head>



<body>

	<div class="container-scroller">
		
		<nav class="sidebar sidebar-offcanvas" id="sidebar">
			
			<div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
				<a class="sidebar-brand brand-logo"  asp-controller="Home" asp-action="Index"><img src="~/images/ropey_store.png" alt="logo" /></a>
				<a class="sidebar-brand brand-logo-mini"  asp-controller="Home" asp-action="Index"><img src="~/images/ropey_store.png" alt="logo" /></a>
			</div>

			<ul class="nav">
				
				
				<li class="@(section == "Dashboard" ? "nav-item menu-items active mt-3" : "nav-item menu-items mt-3")">
				
					<a class="nav-link"  asp-controller="Dashboard" asp-action="Index">
						<span class="menu-icon">
							<i class="mdi mdi-chart-arc"></i>
						</span>
						<span class="menu-title">Dashboard</span>
					</a>
				</li>


				<!------------------------------------- Member section ----------------------------------- -->
				
				<li class="nav-item nav-category mt-2">
					<span class="nav-link">Members</span>
				</li>
				
				<li class="@(section == "MemberDetails" ? "nav-item menu-items active" : "nav-item menu-items")">
					<a class="nav-link" href="#">
						<span class="menu-icon">
							<i class="mdi mdi-clipboard-account"></i>
						</span>
						<span class="menu-title">Details</span>
					</a>
				</li>
				
				<li class="@(section == "MemeberManage" ? "nav-item menu-items active" : "nav-item menu-items")">
					<a class="nav-link" href="#">
						<span class="menu-icon">
							<i class="mdi mdi-account-multiple"></i>
						</span>
						<span class="menu-title">Manage</span>
					</a>
				</li>


				<!------------------------------------- DVD section ----------------------------------- -->
				
				<li class="nav-item nav-category mt-2">
					<span class="nav-link">DVD</span>
				</li>
				
				<li class="@(section == "DVDDetails" ? "nav-item menu-items active" : "nav-item menu-items")">
					<a class="nav-link" href="#">
						<span class="menu-icon">
							<i class="mdi mdi-movie"></i>
						</span>
						<span class="menu-title">Details</span>
					</a>
				</li>


				<li class="@(section == "DVDManage" ? "nav-item menu-items active" : "nav-item menu-items")">
					<a class="nav-link" href="#">
						<span class="menu-icon">
							<i class="mdi mdi-ticket-confirmation"></i>
						</span>
						<span class="menu-title">Loan</span>
					</a>
				</li>


				<!------------------------------------- DVD Transaction section ----------------------------------- -->
				
				<li class="nav-item nav-category mt-2">
					<span class="nav-link">DVD Transaction</span>
				</li>
				
				<li class="@(section == "DVDTransactionDetails" ? "nav-item menu-items active" : "nav-item menu-items")">
					<a class="nav-link" href="#">
						<span class="menu-icon">
							<i class="mdi mdi-clipboard-text"></i>
						</span>
						<span class="menu-title">Details</span>
					</a>
				</li>
				
				
			</ul>
		</nav>



		<div class="container-fluid page-body-wrapper">

			<nav class="navbar p-0 fixed-top d-flex flex-row">
				
				<div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
					<a class="navbar-brand brand-logo-mini" href="#"><img src="~/images/ropey_store.png" alt="logo" /></a>
				</div>
				
				<div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
					
					<button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
						<span class="mdi mdi-menu"></span>
					</button>

					<ul class="navbar-nav navbar-nav-right">
						<li class="nav-item dropdown">

							<a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
								<div class="navbar-profile">
									<img class="img-xs rounded-circle" src="~/images/default_user.png" alt="">
									<p class="mb-0 d-none d-sm-block navbar-profile-name">@User.Identity.Name</p>
									<i class="mdi mdi-menu-down d-none d-sm-block"></i>
								</div>
							</a>

							<div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
								
								<a class="dropdown-item preview-item">
									<div class="preview-thumbnail">
										<div class="preview-icon">
											<i class="mdi mdi-account text-success"></i>
										</div>
									</div>

									<div class="preview-item-content">
										<p class="preview-subject mb-1">Profile</p>
									</div>
								</a>
								
								<a class="dropdown-item preview-item" asp-controller="Authentication" asp-action="Logout">
									<div class="preview-thumbnail">
										<div class="preview-icon">
											<i class="mdi mdi-logout text-success"></i>
										</div>
									</div>

									<div class="preview-item-content">
										<p class="preview-subject mb-1">Log out</p>
									</div>
								</a>

							</div>

						</li>
					</ul>

					<button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
						<span class="mdi mdi-format-line-spacing"></span>
					</button>

				</div>
			</nav>
		
			<div class="main-panel">
				<div class="content-wrapper ">
					@RenderBody()
				</div>
			</div>

		</div>
		
	</div>



	<!-- Required JS Files  -->
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="~/admin_assets/vendors/js/vendor.bundle.base.js"></script>
	<script src="~/admin_assets/vendors/progressbar.js/progressbar.min.js"></script>
	<script src="~/admin_assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
	<script src="~/admin_assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
	<script src="~/admin_assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
	<script src="~/admin_assets/js/off-canvas.js"></script>
	<script src="~/admin_assets/js/hoverable-collapse.js"></script>
	<script src="~/admin_assets/js/misc.js"></script>
	<script src="~/admin_assets/js/settings.js"></script>
	<script src="~/admin_assets/js/todolist.js"></script>
	<script src="~/admin_assets/js/dashboard.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    @RenderSection("AddCustomScripts", required: false)

</body>

</html>
