@*Defining Model*@
@using RopeyDVDManagementSystem.Models.ViewModels;
@model IEnumerable<DVDPreviewModel>;

@*Defining ViewData*@
@{
    ViewData["Title"] = "Inactive DVD";
    ViewData["Section"] = "DVDDetails";
    Layout = "_LayoutAdmin";
}

@*Coding*@
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-2">DVD Titles</h4>
                <p class="card-description mb-4"> List of DVD Titles </p>

                <div class="table-responsive">

                    <table class="table" style="width:100%">
                        <thead>
                            <tr class="text-center">
                                <th class="text-white text-center">Title</th>
                                <th class="text-white text-center">Cast Members</th>
                                <th class="text-white text-center">Producer</th>
                                <th class="text-white text-center">Studio</th>
                                <th class="text-white text-center">Category</th>
                                <th class="text-white text-center">Release Date</th>
                                <th class="text-white text-center">Last Loan Date</th>
                                <th class="text-white text-center">Total Copies</th>
                                <th class="text-white text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr class="border-0 text-center">
                                <td class="align-middle">@item.DVDTitleName</td>
                                <td class="text-left" style="opactity:50%">
                                    @foreach(var x in item.CastMembers)
                                    {
                                        <li class="my-2">@x</li>
                                    }
                                </td>
                                <td class="align-middle">@item.ProducerName</td>
                                <td class="align-middle">@item.StudioName</td>
                                <td class="align-middle">@item.DVDCategory</td>
                                <td class="align-middle">@Html.DisplayFor(modelItem => item.DateReleased)</td>
                                <td class="align-middle">@Html.DisplayFor(modelItem => item.LastLoanDate)</td>
                                <td class="align-middle">@item.AvailableQuantity</td>
                                <td class>
                                    <a class="btn btn-inverse-primary" style="margin:5px;" asp-action="Edit" asp-route-id="@item.DVDNumber"><i class="mdi mdi-table-edit"></i></a>
                                    <a class="btn btn-inverse-info" style="margin:5px;" asp-action="Details" asp-route-id="@item.DVDNumber"><i class="mdi mdi-account-card-details"></i></a>
                                    <a class="btn btn-inverse-danger" style="margin:5px;" asp-action="Delete" asp-route-id="@item.DVDNumber"><i class="mdi mdi-delete" asp-action="Delete" asp-route-id="@item.DVDNumber"></i></a>
                                </td>

                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>