@*Defining Model*@
@model List<DVDCategory>

@*Defining ViewData*@
@{
    ViewData["Title"] = "Dashboard";
    ViewData["Section"] = "DVDDetails";
    Layout = "_LayoutAdmin";
}

@*Coding*@
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                <div class="row">
                    <div class="col-md-6" >
                        <h4 class="card-title mb-2">Categories</h4>
                        <p class="card-description mb-4"> List of Categories </p>
                    </div>
                    <div class="col-md-6" >
                         <div class="text-white float-right mt-2">
                                <a asp-controller="Category" asp-action="Create" class="btn btn-inverse-success"><i class="mdi mdi-account-plus"></i> Add New</a>
                            </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">

                        <table class="table" style="width:100%">
                            <thead>
                                <tr style="text-align:center;">
                                    <th class="text-white text-center">Category Number</th>
                                    <th class="text-white text-center">Name</th>
                                    <th class="text-white text-center">Description</th>
                                    <th class="text-white text-center">Age Restricted</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr style="text-align:center;">@*
                                    <td class="align-middle"><img class="img-thumbnail" src="@item.DVDPoster"
                                            style="max-width:100px;" /></td>*@
                                    <td class="align-middle">@item.CategoryNumber</td>
                                    <td class="align-middle">@item.CategoryName</td>
                                    <td class="align-middle">@item.CategoryDescription</td>
                                    <td class="align-middle">@item.AgeRestricted</td>
                                    <td class>
                                        <a class="btn btn-inverse-primary" style="margin:5px;" asp-action="Edit" asp-route-id="@item.CategoryNumber"><i class="mdi mdi-table-edit"></i></a>
                                        <a class="btn btn-inverse-danger" style="margin:5px;" asp-action="Delete" asp-route-id="@item.CategoryNumber"><i class="mdi mdi-delete" asp-action="Delete" asp-route-id="@item.CategoryNumber"></i></a>
                                    </td>

                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
