@model IEnumerable<RopeyDVDManagementSystem.Models.ViewModels.DVDPreviewModel>
@{
    ViewData["Title"] = "Shop";
    ViewData["Section"] = "Shop";
}

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="shop__sidebar">
                        <div class="shop__sidebar__search">
                            <form action="#">
                                <input type="text" placeholder="Search..." />
                                <button type="submit">
                                    <span class="icon_search"></span>
                                </button>
                            </form>
                        </div>
                        <div class="shop__sidebar__accordion">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseOne">DVDs</a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__price">
                                                <ul >
                                                    <li><a href="#">All</a></li>
                                                    <li><a href="#">Available</a></li>
                                                    <li><a href="#">Unavailable</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseTwo">Age Restricted</a>
                                    </div>
                                    <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__brand">
                                                <ul>
                                                    <li><a href="#">Yes</a></li>
                                                    <li><a href="#">No</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseThree">Categories</a>
                                    </div>
                                    <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__categories">
                                                <ul class="nice-scroll">
                                                    <li><a href="#">All</a></li>
                                                    <li><a href="#">Musical</a></li>
                                                    <li><a href="#">Thriller</a></li>
                                                    <li><a href="#">Horror</a></li>
                                                    <li><a href="#">Comedy</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9">

                    @* --------------------------- Sorting secion --------------------------- *@
                    <div class="shop__product__option">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__left">
                                    <p>Showing 1–12 of 126 results</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__right">
                                    <p>Sort by Price:</p>
                                    <select>
                                        <option value="">Low To High</option>
                                        <option value="">$0 - $55</option>
                                        <option value="">$55 - $100</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    @* --------------------------- DVD secion --------------------------- *@
                    <div class="row">
                        
                        @foreach (var dvd in Model) {
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="/@dvd.DVDPoster">
                                    
                                    @if (dvd.AvailableQuantity == 0){
                                        <span class="unavailable_label">Out of Stock</span>
                                    }
                                    else if (dvd.AvailableQuantity == -1){
                                        <span class="coming_soon_label">Coming Soon</span>
                                    }
                                    else
                                    {
                                        <span class="available_label">Stock : @dvd.AvailableQuantity</span>
                                    }

                                </div>
                                <div class="product__item__text">
                                    <h7 style="font-weight: bold;">@dvd.DVDTitleName</h7>
                                    <p style="margin:0;padding:1px;">Category: @dvd.DVDCategory</p>
                                    <p style="margin:0;padding:1px;">Cast: @dvd.CastMember</p>
                                    <p>Date Released : @Html.DisplayFor(modelItem => dvd.DateReleased)</p>
                                    <h5 style="margin-bottom:15px">$ @dvd.StandardCharge</h5>
                                </div>
                            </div>
                        </div>
                        }

                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->