@using RopeyDVDManagementSystem.Models.ViewModels
@model IEnumerable<DVDPreviewModel>

@{
    ViewData["Title"] = "Shop";
    ViewData["Section"] = "Shop";
}

@section AddCustomScripts{
    <script>
        function changeAgeRestriction(ageRestriction) {
            document.getElementById("AgeRestricted").value = ageRestriction;
            document.getElementById("PostShop").submit();
        }

        function changeAvailability(availability) {
            document.getElementById("Availability").value = availability;
            document.getElementById("PostShop").submit();
        }

        function changeGenre(genre) {
            document.getElementById("DVDCategory").value = genre;
            document.getElementById("PostShop").submit();
        }
    </script>
}


<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        
        <form asp-action="PostShop" id="PostShop">
            <div class="row">
                
                <div class="col-lg-3">

                    <div class="shop__sidebar">
                        
                        <div class="shop__sidebar__search">
                            <input type="text" placeholder="Search..." name="SearchTerm" value="@ViewBag.SearchTerm" />
                            <button type="submit">
                                <span class="icon_search"></span>
                            </button>
                        </div>

                        <div class="shop__sidebar__accordion">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseOne">DVDs</a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__price">
                                                <ul >
                                                    <li onclick="changeAvailability('all')">
                                                        <a class="@(ViewBag.Availability == "all"? "active-choice":"hell")">All</a>
                                                    </li>
                                                    <li onclick="changeAvailability('available')">
                                                        <a class="@(ViewBag.Availability == "available"? "active-choice":"hell")">Available</a>
                                                    </li>
                                                    <li onclick="changeAvailability('unavailable')">
                                                        <a class="@(ViewBag.Availability == "unavailable"? "active-choice":"hell")">Unavailable</a>
                                                    </li>
                                                    <li onclick="changeAvailability('comingSoon')">
                                                        <a class="@(ViewBag.Availability == "comingSoon"? "active-choice":"hell")">Coming Soon</a>
                                                    </li>
                                                    <input type="hidden" id="Availability" name="Availability" value="@ViewBag.Availability" />
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseTwo">Age Restricted</a>
                                    </div>
                                    <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__brand">
                                                <ul>
                                                    <li onclick="changeAgeRestriction('no')">
                                                        <a class="@(ViewBag.AgeRestricted == "no"? "active-choice":"hell")">All</a>
                                                    </li>
                                                    <li onclick="changeAgeRestriction('yes')">
                                                        <a class="@(ViewBag.AgeRestricted == "yes"? "active-choice":"hell")">Under 18</a>
                                                    </li>
                                                    <input type="hidden" id="AgeRestricted" name="AgeRestricted" value="@ViewBag.AgeRestricted" />
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseThree">Categories</a>
                                    </div>
                                    <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__categories">
                                                <ul class="nice-scroll">
                                                    <li onclick="changeGenre('all')">
                                                        <a class="@(ViewBag.DVDCategory == "all"? "active-choice":"hell")">All</a>
                                                    </li>
                                                    <li onclick="changeGenre('action')">
                                                        <a class="@(ViewBag.DVDCategory == "action"? "active-choice":"hell")">Action</a>
                                                    </li>
                                                    <li onclick="changeGenre('drama')">
                                                        <a class="@(ViewBag.DVDCategory == "drama"? "active-choice":"hell")">Drama</a>
                                                    </li>
                                                    <li onclick="changeGenre('horror')">
                                                        <a class="@(ViewBag.DVDCategory == "horror"? "active-choice":"hell")">Horror</a>
                                                    </li>
                                                    <li onclick="changeGenre('thriller')">
                                                        <a class="@(ViewBag.DVDCategory == "thriller"? "active-choice":"hell")">Thriller</a>
                                                    </li>
                                                    <input type="hidden" id="DVDCategory" name="DVDCategory" value="@ViewBag.DVDCategory" />
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            
                </div>

                <div class="col-lg-9">

                    @* --------------------------- Sorting secion --------------------------- *@
                    <div class="shop__product__option">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__right">
                                    <p>Sort by:</p>
                                    <select name="sortBy" onChange="this.form.submit()">
                                        @if(ViewBag.SortBy == "na")
                                        {
                                            <option value="na" selected>Name: A to Z</option>
                                        }else{
                                            <option value="na">Name: A to Z</option>
                                        }

                                        @if(ViewBag.SortBy == "nd")
                                        {
                                            <option value="nd" selected>Name: Z to A</option>
                                        }else{
                                            <option value="nd">Name: Z to A</option>
                                        }

                                        @if(ViewBag.SortBy == "pa")
                                        {
                                            <option value="pa" selected>Price: Low to High</option>
                                        }else{
                                            <option value="pa">Price: Low to High</option>
                                        }

                                        @if(ViewBag.SortBy == "pd")
                                        {
                                            <option value="pd" selected>Price: High to Low</option>
                                        }else{
                                            <option value="pd">Price: High to Low</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    @* --------------------------- DVD secion --------------------------- *@
                    <div class="row">
                        
                        @foreach (var dvd in Model) {
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="/@dvd.DVDPoster">
                                    
                                    @if (dvd.AvailableQuantity == 0){
                                        <span class="unavailable_label">Out of Stock</span>
                                    }
                                    else if (dvd.AvailableQuantity == -1){
                                        <span class="coming_soon_label">Coming Soon</span>
                                    }
                                    else
                                    {
                                        <span class="available_label">Stock : @dvd.AvailableQuantity</span>
                                    }

                                </div>
                                <div class="product__item__text">
                                    <h7 style="font-weight: bold;">@dvd.DVDTitleName</h7>
                                    <p style="margin:0;padding:1px;">Category: @dvd.DVDCategory</p>
                                    <p style="margin:0;padding:1px;">Cast: @dvd.CastMember</p>
                                    <p>Date Released : @Html.DisplayFor(modelItem => dvd.DateReleased)</p>
                                    <h5 style="margin-bottom:15px">$ @dvd.StandardCharge</h5>
                                </div>
                            </div>
                        </div>
                        }

                    </div>

                </div>

            </div>
        </form>

    </div>
</section>
<!-- Shop Section End -->