@*Defining Model*@
@model List<Member>

@*Defining ViewData*@
@{
    ViewData["Title"] = "Dashboard";
    ViewData["Section"] = "MemberDetails";
    Layout = "_LayoutAdmin";
}

@*Coding*@
<h1 style="text-align: center;">Member Details</h1>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body"> 
            <div class="table-responsive">
                <table class="table" >
            <thead>
                <tr style="text-align:center;">
                    <th>Member Number</th>
                    <th>Membership Category </th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Address</th>
                    <th>Date of Birth</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr style="text-align:center;">
                        <td class="align-middle">@item.MemberNumber</td>
                        <td class="align-middle">@item.MembershipCategoryNumber</td>
                        <td class="align-middle">@item.MemberFirstName</td>
                        <td class="align-middle">@item.MemberLastName</td>
                        <td class="align-middle">@item.MemberAddress</td>
                        <td class="align-middle">@item.MemberDateOfBirth</td>
                        <td class="align-middle">
                            <a class="btn btn-inverse-info" style="margin:5px;" asp-action="Details" asp-route-id="@item.MemberNumber"><i class="bi bi-eye"></i>Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    </div>
    </div>
    </div>


